html {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: #333;
}

.header,
.hero {
    background-color: #fff;
    padding: 8px 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* HEADER */
.header {
    gap: 64px;
}

.logo {
    height: 64px;
    width: 64px;
}

.nav-links {
    display: flex;
    gap: 24px;
    list-style-type: none;
    flex-wrap: wrap;
}

.nav-link a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    color: inherit;
}

.nav-link a:hover {
    color: #f5cb24;
}

/* HERO */
.hero {
    flex-wrap: wrap;
    gap: 32px;
    margin-bottom: 64px;
}

.hero-description {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
}

.hero-text {
    font-size: 18px;
}

.hero-button {
    height: 30px;
    width: 100px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #f5cb24;
    font-family: inherit;
    color: inherit;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-button:hover {
    cursor: pointer;
    background-color: #ffe16b;
}

.hero-button:active {
    background-color: #f5cb24;
}

.hero-image {
    height: auto;
    max-width: 100%;
}

/* INFO */
.info-heading {
    font-size: 36px;
    text-align: center;
    font-weight: 900;
    margin-bottom: 32px;
    text-decoration: underline solid #f5cb24 2px;
    text-underline-offset: 8px;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-bottom: 64px;
}

.movie-image {
    height: 384px;
    width: 256px;
    border-radius: 6px;
}

.movie-name {
    font-size: 18px;
    text-align: center;
}

/* TESTIMONIAL */
.testimonial {
    max-width: 100%;
    background-color: #e5e7eb;
    padding: 96px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.testimonial-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.testimonial-author {
    font-size: 24px;
    font-weight: 700;
    align-self: flex-end;
}

/* CTA */
.cta {
    padding: 64px 96px;
    flex: 1;
}

.cta-box {
    background-color: #f5cb24;
    border-radius: 6px;
    padding: 16px 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    max-width: 100%;
    flex-wrap: wrap;
}

.cta-heading {
    font-size: 18px;
}

.cta-text {
    font-size: 14px;
}

.cta-button {
    height: 30px;
    width: 100px;
    padding: 8px 16px;
    border: 2px solid #fff;
    border-radius: 4px;
    background-color: #f5cb24;
    font-family: inherit;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-button:hover {
    cursor: pointer;
    background-color: #ffe16b;
}

.cta-button:active {
    background-color: #f5cb24;
}

/* FOOTER */
.footer {
    background-color: #e5e7eb;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    font-size: 14px;
}